.gallery {
    text-align: center;
    color: var(--crema);
    padding: 50px 0px;
    background-color: black;
}

.gallery > h1 {
    font-size: 3rem;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery-item {
    position: relative;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-title {
    position: absolute;
    bottom: 0;
    color: var(--crema);
    background: 
    linear-gradient(rgba(0,0,0,.70), rgba(0,0,0,.70));
    width: 100%;
    padding: 10px;
}

.gallery-item:nth-child(4) {
    grid-column-start: span 2;
}

.gallery-item:nth-child(5) {
    grid-row-start: span 2;
}

.gallery-item:nth-child(6) {
    grid-row-start: span 2;
}
.gallery-item:nth-child(8) {
    grid-column-start: span 2;
}

@media (min-width:768px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
    .gallery-item:nth-child(2) {
        grid-row-start: span 2;
    }
    
    .gallery-item:nth-child(4) {
        grid-column-start: span 1;
    }
    .gallery-item:nth-child(3) {
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(6) {
        grid-row-start: span 3;
    }
    
    .gallery-item:nth-child(7) {
        grid-column-start: span 2;
    }

    .gallery-item:nth-child(8) {
        grid-column-start: span 3;
    }
}

@media (min-width:1024px) {
    .gallery-container {
        grid-template-columns: repeat(5, 1fr);
    }
    
    .gallery-item:nth-child(1) {
        grid-column-start: span 2;
    }
    .gallery-item:nth-child(2) {
        grid-row-start: span 3;
    }
    .gallery-item:nth-child(4) {
        grid-row-start: span 2;
    }
    .gallery-item:nth-child(6) {
        grid-column-start: span 1;
        grid-row-start: span 2;
    }
}